:root {
  --brown: #3c2a21;
  --caramel: #c89b3c;
  --caramel-light: #c89b3caa;
  --bg-light: #fff8f0;
  --dark: #1f1a17;
  --text: #2b2b2b;
  --muted: #7a7a7a;
  --bs-btn-hover-bg: var(--caramel-light);
}

body {
  scroll-behavior: smooth;
  font-family: 'Playfair Display', serif;
  background: var(--bg-light);
  color: var(--text);
}

/* Typography */
.hero-title {
  font-size: clamp(27px, 5vw, 64px);
  font-weight: 700;
  line-height: 1.2;
}

.section-title {
  font-size: clamp(28px, 4vw, 36px);
  font-weight: 600;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 1.7;
}

.small-text {
  font-size: 14px;
  line-height: 1.6;
}

footer {
  font-size: 13px;
}

/* Section spacing */
section {
  padding: clamp(40px, 8vw, 80px) 0;
}

/* Buttons */
.btn-brand {
  background: var(--caramel);
  font-size: 14px;
  font-weight: 600;
}

/* Hero */
/* .hero {
  background:
    linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
} */

.text-caramel {
  color: var(--caramel);
}

.text-brown {
  color: var(--brown);
}

/* Service Cards */
.service-card {
  padding: 30px;
  border: none;
  background-color: var(--bg-light);
}

.service-card:hover {
  border: var(--brown) 1px solid;
}

/* Dark sections */
.dark-section {
  background: var(--dark);
}

/* Price Badge */
.price-badge {
  color: var(--caramel);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.service-card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, .08);
}

.hover-txt {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover .hover-txt {
  opacity: 1;
}

footer h6 {
  font-size: large;
}

@media (max-width: 576px) {
  .carousel-inner {
    padding-top: 5vw;
  }

  .carousel-caption {
    padding-top: 12vw;
  }
}

.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}